@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

*{
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  margin-top: 10px;
}

.link{
  text-decoration: none;
  color: inherit;
}